{% extends '::base.html.twig' %}

{% block body %}

<div>
    <ul>
        <li>Name:    {{ item.name }}</li>
        <li>price:    {{ item.price }}</li>
        <li>description:    {{ item.description }}</li>
        <li>inStock:    {{ item.inStock }}</li>
    </ul>
</div>

{% endblock %}